.gridContainer {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex-end;
    height: 70px;
    width: 308px;
}

.boxContainer {
    border-radius: 35px;
    background-color: #2F80ED;
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 53px;
    position: fixed;
    display: flex-end;
    right: 30px;
    /* right: 35px; */
    bottom: 20px;
}

.icon {
    display: flex;
    justify-content: center;
}

.textIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 22px;
}

.buttonsContainer {
    display: flex;
    align-content: center;
    align-items: center;
    /* margin-left: 88px; */
    height: 50px;
    width: 100%;
    animation: fadeInSlide 0.5s forwards;
}

.containerSubButton {
    height: 95px;
}

.buttonClick {
    border-radius: 35px;
    align-content: center;
    align-items: center;
    margin-left: 30px;
    background-color: #F2F2F2;
    height: 50px;
    width: 53px;
}


.buttonClickedChat {
    border-radius: 35px;
    align-content: center;
    align-items: center;
    margin-left: 30px;
    background-color: #8785FF;
    height: 50px;
    width: 53px;
}

.buttonClickedTodo {
    border-radius: 35px;
    align-content: center;
    align-items: center;
    margin-left: 30px;
    background-color: #F8B76B;
    height: 50px;
    width: 53px;
}

@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateX(+20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}